body, html{
	width: 100%;
	height: 100%;
	background-image: url(index.jpg);
	/*-webkit-background-size: cover;
	o-background-size: cover;
	background-size: cover;*/
	/*background-size: cover;
	background-image: linear-gradient(pink, blue, yellow);
	background-image: radial-gradient(circle, yellow, pink , blue, pink);*/

}

header {
	box-shadow: 4px 4px 5px #888888;
}

p {
	color: #58b690;
	background-color: rgba(4, 122, 30, 0.2);
	font-size:200%;
	text-align:center;
	cursor: pointer;
	box-shadow: 2px 5px 8px #888888;
	font-family: 'Indie Flower', cursive;
}

p:hover{
	color: #FF02D2F0;
}

h1 {
	color: #58b690;	
	border: 3px solid rgba(52, 23, 77, 1);
	position: static;
	width: 100%;
	box-shadow: 4px 4px 5px #888888;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

h1:hover{
	color: #FF02D2F0;
	cursor: pointer;
}

li {
	color: #58b690;	
	list-style: none;
	display: inline-block;
	font-size: 130%;	

}
img {
	height: 250px;
	width: 600px;
	/*float: right; pentru asta trebuie si un footer */
}

.textindex {
	font-family: 'Indie Flower', cursive;
}