body , html {
	width: 100%;
	height: 100%;
	background-image: url(index.jpg);
	/*-webkit-background-size: cover;
	o-background-size: cover;
	background-size: cover;*/
	/*background-size: cover;
	background-image: linear-gradient(pink, blue, yellow);
	background-image: radial-gradient(circle, yellow, pink , blue, pink);*/

}		
.form {
	height: 550px;
  	width: 400px;
	background-color: rgba(4, 122, 30, 0.2);
  	border: 2px solid black;
  	margin: 50px;
  	padding: 50px;
}